[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/php"]
	path = production/modules/php
	url = https://github.com/voxpupuli/puppet-php.git
[submodule "production/modules/epel"]
	path = production/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "production/modules/inifile"]
	path = production/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "production/modules/postgresql"]
	path = production/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/puppet"]
	path = production/modules/puppet
	url = https://github.com/theforeman/puppet-puppet.git
[submodule "production/modules/hocon"]
	path = production/modules/hocon
	url = https://github.com/puppetlabs/puppetlabs-hocon.git
[submodule "production/modules/puppet_authorization"]
	path = production/modules/puppet_authorization
	url = https://github.com/puppetlabs/puppetlabs-puppet_authorization.git
[submodule "production/modules/puppetdb"]
	path = production/modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "production/modules/nginx"]
	path = production/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "production/modules/mysql"]
	path = production/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "production/modules/consul"]
	path = production/modules/consul
	url = https://github.com/solarkennedy/puppet-consul.git
[submodule "production/modules/archive"]
	path = production/modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "production/modules/systemd"]
	path = production/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "production/modules/dnsmasq"]
	path = production/modules/dnsmasq
	url = https://github.com/saz/puppet-dnsmasq.git
[submodule "production/modules/resolve_conf"]
	path = production/modules/resolv_conf
	url = https://github.com/saz/puppet-resolv_conf.git
[submodule "production/modules/ssh"]
	path = production/modules/ssh
	url = git@github.com:attachmentgenie/attachmentgenie-ssh.git
[submodule "production/modules/puppetserver_gem"]
	path = production/modules/puppetserver_gem
	url = https://github.com/puppetlabs/puppetlabs-puppetserver_gem.git
[submodule "production/modules/apache"]
	path = production/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "production/modules/haproxy"]
	path = production/modules/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "production/modules/lvm"]
	path = production/modules/lvm
	url = git@github.com:puppetlabs/puppetlabs-lvm.git
[submodule "production/modules/compose"]
	path = production/modules/composer
	url = https://github.com/willdurand/puppet-composer.git
[submodule "production/modules/wget"]
	path = production/modules/wget
	url = https://github.com/voxpupuli/puppet-wget.git
[submodule "production/modules/traefik2"]
	path = production/modules/traefik2
	url = git@github.com:attachmentgenie/attachmentgenie-traefik2.git
